* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1500px;
  margin: auto;
  padding: 0 70px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 96;
  background-color: white;
}
nav .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
nav .nav .l ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  font-size: 13px;
  color: #000;
}
nav .nav .l ul .add a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(74, 173, 195);
  margin-inline-start: 50px;
}
nav .nav .l ul .fav a {
  padding: 7px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(22, 147, 0);
}
nav .nav .l ul .fav a i {
  font-size: 20px;
  color: white;
}
nav .nav .m {
  display: none;
}
nav .nav .m i {
  font-size: 30px;
}

@media screen and (max-width: 1000px) {
  nav {
    z-index: 99;
  }
  nav .nav .l {
    position: fixed;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.825);
    height: 100%;
    width: 0;
    left: -100px;
    top: 0;
    color: white;
    padding: 20px 80px;
    z-index: 100;
    transition: width 0.6s ease;
  }
  nav .nav .l ul {
    display: flex;
    flex-direction: column;
    color: white;
  }
  nav .nav .l .add {
    margin-inline: 0;
  }
  nav .nav .show {
    visibility: visible;
    width: 70%;
    display: block;
  }
  nav .nav .m {
    display: block;
  }
}
#banner {
  background-image: url(https://preview.colorlib.com/theme/drimo/drimo/img/banner/server-banner.jpg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}
#banner .banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 200px 0;
}
#banner .banner .left {
  width: 66%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#banner .banner .left .h1 {
  font-size: 50px;
  position: relative;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}
#banner .banner .left .h1::before {
  content: "Special Offer Now 10$";
  position: absolute;
  padding: 10px 20px;
  font-weight: 100;
  font-size: 20px;
  top: -60px;
  left: 120px;
  background-color: red;
  color: white;
}
#banner .banner .left .h1::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 22px 14px 0 14px;
  border-color: red transparent transparent transparent;
  position: absolute;
  left: 240px;
  top: -20px;
}
#banner .banner .left button {
  width: 200px;
  padding: 10px 25px;
  background-color: #fc5a1a;
  border: none;
  color: white;
  font-size: 20px;
}
#banner .banner .left .l-banner ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 40%;
  color: white;
}
#banner .banner .left .l-banner ul i {
  margin-right: 5px;
}
#banner .banner .left .i {
  color: white;
  font-size: 17px;
  line-height: 30px;
}
#banner .banner .left .n-botom {
  font-size: 40px;
  color: white;
  font-weight: 100;
}
#banner .banner .right {
  width: 25%;
}

@media screen and (max-width: 800px) {
  #banner .banner {
    flex-direction: column;
  }
  #banner .banner .left {
    width: 100%;
  }
  #banner .banner .right {
    width: 100%;
  }
}
#service .service {
  padding: 100px 0;
}
#service .service .h {
  text-align: center;
  margin-bottom: 50px;
  max-width: 50%;
  margin: auto;
}
#service .service .h h3 {
  font-size: 40px;
  position: relative;
  margin-bottom: 60px;
}
#service .service .h h3:after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: black;
  bottom: -20px;
  position: absolute;
  left: calc((100% - 100px) / 2);
}
#service .service .h p {
  color: gray;
  font-size: 20px;
}
#service .service .btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
#service .service .btn button {
  width: 200px;
  padding: 5px 20px;
  background-color: #fc5a1a;
  border: none;
  color: white;
  font-size: 20px;
}
#service .service .s-it {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}
#service .service .s-it .item {
  max-width: 250px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}
#service .service .s-it .item button {
  border: none;
  color: antiquewhite;
  width: 50px;
  height: 40px;
  background-color: #15b3cb;
}
#service .service .s-it .item .img {
  height: 80px;
}
#service .service .s-it .item .i {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#service .service .s-it .item .i p {
  color: gray;
}
#service .service .s-it .item .i h4 {
  font-size: 20px;
  color: rgb(63, 62, 62);
}
#service .service .s-it .item .i button {
  width: 200px;
  padding: 5px 20px;
  background-color: #fc5a1a;
  border: none;
  color: white;
  font-size: 20px;
  margin: auto;
}

#client {
  background-color: #7db9e8;
  padding: 100px 0;
}
#client .client .h {
  text-align: center;
  margin-bottom: 50px;
  max-width: 50%;
  margin: auto;
  color: white;
}
#client .client .h h3 {
  font-size: 40px;
  position: relative;
  margin-bottom: 60px;
}
#client .client .h h3:after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: white;
  bottom: -20px;
  position: absolute;
  left: calc((100% - 100px) / 2);
}
#client .client .h p {
  font-size: 20px;
}
#client .client .client-items {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  flex-wrap: wrap;
}
#client .client .client-items .item {
  display: flex;
  align-items: center;
  max-width: 280px;
  gap: 30px;
}
#client .client .client-items .item .icon {
  border-radius: 50%;
  border: 5px solid paleturquoise;
  padding: 15px 20px;
  background-color: white;
}
#client .client .client-items .item .icon i {
  color: #6ea4ce;
  font-size: 50px;
}
#client .client .client-items .item .i .number {
  font-size: 30px;
  font-weight: bold;
  color: white;
}
#client .client .client-items .item .i .text {
  color: white;
  font-weight: 700;
  font-size: 20px;
}

#news .news {
  padding: 100px 0;
}
#news .news .h {
  text-align: center;
  margin-bottom: 50px;
  max-width: 50%;
  margin: auto;
}
#news .news .h h3 {
  font-size: 40px;
  position: relative;
  margin-bottom: 60px;
  color: rgb(73, 73, 73);
}
#news .news .h h3:after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: black;
  bottom: -20px;
  position: absolute;
  left: calc((100% - 100px) / 2);
}
#news .news .h p {
  color: gray;
  font-size: 20px;
}
#news .news .news-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  padding-top: 50px;
}
#news .news .news-items .item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 350px;
}
#news .news .news-items .item .img {
  overflow: hidden;
}
#news .news .news-items .item .img img {
  transition: all 0.5s ease;
}
#news .news .news-items .item .img:hover img {
  transform: scale(1.1);
}
#news .news .news-items .item .i {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#news .news .news-items .item .i .n1 {
  font-size: 20px;
  color: rgb(66, 65, 65);
}
#news .news .news-items .item .i .i1 {
  color: rgb(124, 123, 123);
  font-size: 17px;
}

footer .footer {
  text-align: center;
  font-size: 20px;
  padding: 50px 0;
  border-top: 1px solid rgb(168, 167, 167);
}

#form {
  padding: 200px 0;
}
#form .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#form .form .form-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#form .form .form-content input[type=text] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}
#form .form .form-content .img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 60px;
  margin: auto;
  position: relative;
  border: 1px solid #000;
  padding: 20px;
}
#form .form .form-content .img .pimg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}
#form .form .form-content .img .plas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  cursor: pointer;
  background-color: #737373;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
#form .form .form-content .img input[type=file] {
  display: none;
}
#form .form .form-content button {
  margin-top: 50px;
  width: 200px;
  padding: 10px 20px;
  background-color: #15cb61;
  border: none;
  color: white;
  font-size: 25px;
  margin: auto;
}

@media screen and (max-width: 700px) {
  #form .form .content {
    max-width: 100%;
  }
}
.b {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.71);
}
.b .close {
  position: absolute;
  font-size: 40px;
  right: 20px;
  top: 30px;
  color: white;
}/*# sourceMappingURL=style.css.map */